
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


/* .Arrow{
    height: 5vh;
    position: fixed;
    bottom: 10%;
   right: 0;
   transition: 0.4s;
}

.noneArrow{
    display: none;
    transition: 0.4s;
} */



.AppContainer{
    /* width: 60vw;
    height: 100%;
    display: bloc;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
 min-height: 60vh;
 /* overflow: auto; */
 
}



.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.Newtest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  

}

.NewDocContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconPDFNew{
    height: 6.5vh;
    outline: none;
    transition: 0.8s;
}

.iconPDFNewHover{
    height: 8vh;
    outline: none;
    transition: 0.5s;

}

.Lampe{
    outline: none;
}

.ConsultationContainer{
    width: 100%;
    background-color: rgb(247, 240, 244);
    border-radius: 20px;
    text-align: center;
    margin: 1%;
    padding: 1%;
    box-shadow: 0px 0px 10px 5px rgba(172, 164, 164, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(172, 164, 164, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(172, 164, 164, 0.75);    font-family: 'PT Sans',cursive ;
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0.5px 0px grey;
    transition: 0.3s;
    font-family: 'PT Sans',cursive ;



}

.ConsultationContainerSelect{
    width: 100%;
    background-color: rgb(255, 224, 226);
    border-radius: 20px;
    text-align: center;
    margin: 1%;
    padding: 1%;
    box-shadow: 0px 0px 10px 5px rgba(172, 164, 164, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(172, 164, 164, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(172, 164, 164, 0.75);    font-family: 'PT Sans',cursive ;
    margin-bottom: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0.5px 0px rgb(112, 106, 106);
    transition: 0.3s;
    font-family: 'PT Sans',cursive ;

    

}

.txtDebu{
    width: 50vw;
    
    
    text-align: center;
   
   
    padding: 0.5%;
    
    height: auto;
    

}

.NewInfoBloc{
    width: 45%;
    height: 30vh;
    background-color: rgb(255, 224, 226);
    padding: 1%;
    border-radius: 20px;
    font-size: 1.2rem;


  
    border: 3px solid rgb(160, 39, 47);
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    top : 0;
    left:0 ;
    position: sticky;
}



.Question{
    text-align: center;
    height: 35vh;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 224, 226);
  
    
    border: 3px solid rgb(160, 39, 47);
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;

    



    
    margin: 1%;
    padding: 1%;
}

.questionDepartAlign h1{
    text-shadow: 1px 1px 2px black; 


}




.Question::-webkit-scrollbar { width: 0 !important }



.txtDebu h4{
    text-decoration: underline;
    color:  rgb(160, 39, 47);

}

.Question h1{
    color:  rgb(160, 39, 47);
}

.Question button{
    width: 10vw;
    align-self: center;
    background-color: rgb(160, 39, 47);
    border-radius: 20px;
    box-shadow: 5px 2.5px 2.5px  rgb(10, 2, 4);
    text-align: center;
    border: none;


}

.BulleInfo{
    
    border: 3px solid rgb(160, 39, 47);
    color:  rgb(104, 101, 102);
    background-color: rgb(233, 190, 192);
    border-radius: 35px;
    margin-top: 0.5vh;
    padding-top: 1.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    /* text-shadow: 0px 0.5px 0px rgb(184, 177, 177); */
    box-shadow: inset 0 0 0.1em black, 0 0 0.3em black;
    min-height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.1rem;



    
}

.Recap{
    width: 100%;

}


.BulleInfoCons{
    
    border: 3px solid rgb(160, 39, 47);
    color:  rgb(104, 101, 102);
    background-color: rgb(233, 190, 192);
    border-radius: 35px;
    margin-top: 0.5vh;
    padding-top: 1.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    /* text-shadow: 0px 0.5px 0px rgb(184, 177, 177); */
    box-shadow: inset 0 0 0.1em black, 0 0 0.3em black;
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    
    font-size: 1.1rem;


}

.BulleInfoConsHover{
    border: 3px solid rgb(160, 39, 47);
    color:  rgb(104, 101, 102);
    background-color: rgb(233, 190, 192);
    border-radius: 35px;
    margin-top: 0.5vh;
    padding-top: 1.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    /* text-shadow: 0px 0.5px 0px rgb(184, 177, 177); */
    box-shadow: inset 0 0 0.1em black, 0 0 0.3em black;
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    
    font-size: 1.1rem;
}

.BulleInfo ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}



ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}


.Apropos{

    width: 100%;
    min-height: 80vh;
    background-color: rgb(255, 240, 241);
    border-radius: 25px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-shadow: 0px 0.5px 0px grey; */
    text-align: center;

}
.consultationContainerDebut{
    width: 40vw;
    height: 100%;
    background-color: rgb(255, 240, 241);
    border-radius: 25px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-shadow: 0px 0.5px 0px grey; */
    text-align: center;
    border: 3px solid rgb(160, 39, 47);


}

.navbar-light .navbar-nav .nav-link {
    color: rgb(160, 39, 47);
}

.navbar-light .navbar-brand {
    color: rgb(160, 39, 47);
}


.consultationContainer{
    width: 80%;
    height: 100%;
    background-color: rgb(247, 240, 244);
    border-radius: 25px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-shadow: 0px 0.5px 0px grey; */
    text-align: center;
}






.blocConsultation {
    height: 10vh;
}


.Lampe{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    border-radius: 10px;
}

Button{
    margin: 1%;
    box-shadow: 5px 2.5px 2.5px rgb(172, 164, 164);
}

.Tarification{
    width: 100%;
    height: 100%;
    background-color: rgb(253, 238, 246);
    border-radius: 25px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans',cursive ;
    text-align: center;

}



.ContainerBulle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mb-3 label{
    color: black;
    font-weight: bold;
    cursor: pointer;
}

input{
    cursor: pointer;


}

@media screen and (min-width: 500px) {
    .noneArrow{
        display: none;
      }

      .Arrow{
        display: none;
       
      
    }

    .Marge{
        width: 10%;
        height: 100%;
    }
}


@media screen and (max-width: 500px) {
    .txtDebu{
        display: none;
    }

    .Question{
        width: 100%;
        height: 50vh;
    }

    .sizeModal{height: 100vh;}


   .Question button{
       width: 30vw;
   }

   .Container{
       display: block;
   }
  

   .consultationContainer{
       width: 100%;
   }

   .Arrow{
    height: 5vh;
    position: fixed;
    bottom: 10%;
   right: 0;
   
  
}

.noneArrow{
  display: none;
}

}



.IconDL{
    height: 5vh;
}



.noneDisplay{
    display: none;
}
