

.AppContainer{
    /* width: 60vw;
    height: 100%;
    display: bloc;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100vw;
 height: 100%;
 overflow: auto;
 padding-right: 15px;
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txtDebu{
    width: 50vw;
}

.Question{
    align-self: flex-start;
}



.AppContainer p{
    font-size: 2rem;
}


.blocConsultation {
    height: 10vh;
}