.logoT {
      
    width: 280px;
    height: 300px;
  
  }  
  
  
  .Droite{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  }

  .Gauche{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  
  .containerT{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2339px;
  width: 1654px;
  padding: 100px;
  }

  .Tampon{
    align-self: flex-end;
  }


.pStart{
  align-self: flex-start;
}

  