.logoT {
      
    width: 110px;
    height: 180px;
    align-self: flex-end;
  
  }  

.DroiteEnd{
  align-self: start;
}


.containerTestPrint{
 
 display: flex;
 flex-direction: column;
padding: 10px;
height: 842px;
width: 595px;
}

.centerEnd{
  align-self: center;
}

.dateEnd{
  align-self: flex-end;
}
