@media screen and (min-width: 900px) {
   
    
    
    .Header {
    
      width: 100vw; 
      height: 20vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
      
    
    }
    .Banniere{
      width: 45vw;
      height: 15vh;
    }
    
   
    
    
    
    .logoH {
      
      width: 25vw;
      height: 20vh;
      
    
    }
    
    
    
    .Menu {
      border: 1px solid black;
      width: 5vw;
      height: 10vh;
    }
  }
  
  
  @media screen and (max-width: 900px) {
    
      
      
      
      .Header {
      
        width: 100vw; 
        height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      
      }
      
      .logocontainer{
        
        width: 20vw;
      }
      
      .logoB{
        width: 40vw;
      }
      
      .logo {
        
        width: 35vw;
        height: 30vh;
      
      }
      
      .Banderolle{
        width: 40vw;
        display: none;
      }
      
      .Menu {
        border: 1px solid black;
        width: 10vw;
        height: 10vh;
        display: none;
      }
    }