@media screen and (min-width: 500px) {
   
    .Header{
      height: 30vh;
    }

    .HeaderMenu{
      height: 10vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    
    


    .HeaderTop {
    
      width: 100vw; 
      height: 20vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
      
    
    }
    .Banniere{
      width: 65vw;
      height: 15vh;
      cursor: pointer;
      
    }
    
   
    
    
    
    .logoH {
      
      width: 27vw;
      height: 21.5vh;
      
    
    }
    
    
    
    .Menu {
      border: 1px solid black;
      width: 5vw;
      height: 10vh;
    }
  }
  
  
  @media screen and (max-width: 500px) {
    
      
      
      
      .Header {
      
        width: 100vw; 
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      
      }
      .HeaderMenu{
        height: 10vh;
        width: 100%;
  
      }
      
      .logocontainer{
        
        width: 20vw;
      }
      
      .logoB{
        width: 40vw;
      }
      
      .logo {
        
        width: 35vw;
        height: 30vh;
      
      }
      
      .Banderolle{
        width: 40vw;
        display: none;
      }
      
      .Menu {
        border: 1px solid black;
        width: 10vw;
        height: 10vh;
        display: none;
      }
    }








.Reload{
  cursor: pointer;
}

.NavBar{
  /* box-shadow: -0.5px 1px 5px 1.5px rgba(88, 88, 88, 0.3) inset; */
  background-color:rgb(255, 242, 243);

}


.majTxt{
  font-weight: lighter;
  color: #72959e;
}



.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-brand {
  color: black;
}




