







.ValiderContainer{

    width: 80%;
    
    border-radius: 20px;
    
    margin: 1%;
    padding: 1%;

}

.TarifiContainer{
    width: 80%;
    
    border-radius: 20px;
    
    margin: 1%;
    padding: 1%;

}


.Red{
    color: red;
}

.Lampe{
    
    width: 7vw;
    height: 7vh;
      
}

.Verrou1{
    color: red;
}