.consultationContainer{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}


.Red{
    color: red;
}

.Lampe{
    
    width: 7vw;
    height: 7vh;
      
}

.Verrou1{
    color: red;
}