




.TestBTNTiers{
    color: #9bf19f ;
    text-transform: capitalize;
    background: #dfdede;
    padding: 10px;
    border: 4px solid #9bf19f ;
    border-radius: 6px;
    /* display: inline-block; */
    transition: all 0.1s ease 0s;
    font-size: 1rem;
    font-weight:bold;
}
.TestBTNTiers:hover{
    color: #5c454f ;
border-radius: 50px;
border-color: #5c454f ;
transition: all 0.1s ease 0s;

}

.TestBTNTiers:focus{
    outline: none;
}




.TestBTNBAse{
    color: #5c454f ;
text-transform: capitalize;
background: #ffffff;
padding: 10px;
border: 4px solid #5c454f ;
border-radius: 6px;
/* display: inline-block; */
transition: all 0.1s ease 0s;
font-size: 1rem;
    font-weight:bold;
}

.TestBTNBAse:hover{
    color: #f37575 ;
border-radius: 50px;
border-color: #f37575 ;
transition: all 0.1s ease 0s;

}

.TestBTNBAse:focus{
    outline: none;
}






.TestBTNSel{
    color: #ffffff ;
    text-transform: capitalize;
    background: #f37575;
    padding: 10px;
    border: 4px solid #f37575;
    border-radius: 6px;
    /* display: inline-block; */
    transition: all 0.1s ease 0s;
    font-size: 1rem;
    font-weight:bold;
}
.TestBTNSel:hover{
    color: #5c454f ;
border-radius: 50px;
border-color: #5c454f;
transition: all 0.1s ease 0s;

}

.TestBTNSel:focus{
    outline: none;
}


.ValiderContainer{

    width: 80%;
    
    border-radius: 20px;
    
    margin: 1%;
    padding: 1%;

}

.TarifiContainer{
    width: 80%;
    
    border-radius: 20px;
    
    margin: 1%;
    padding: 1%;

}


.Red{
    color: red;
}

.Lampe{
    
    width: 7vw;
    height: 7vh;
      
}

.Verrou1{
    color: red;
}




.ContainerRadio{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ContainerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .ContainerRadio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .ContainerRadio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .ContainerRadio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .ContainerRadio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }





