

@media screen and (max-width: 600px) {
    .SponsorContainer {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        background-color: white;
        align-items: center;
  }
}


@media screen and (min-width: 600px) {
    .SponsorContainer {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        background-color: white;
        align-items: center;
        
    
  }
}

