.logo {
      
    width: 7vw;
    height: 10vh;
  
  }

  .containerR{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 4678px;
    width: 1654px;
    padding: 100px;
    }