.logo {
      
    width: 7vw;
    height: 10vh;
  
  }

  .containerP{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
  }