.logo {
      
    width: 7vw;
    height: 10vh;
  
  }

  .containerR{
    
    height: 4678px;
    width: 1654px; 
    font-size: 17px;

    }


    .Bloc1Resume{
      display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2339px;
  width: 1654px;
  padding: 100px;
    }



.Bloc2Resume{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2339px;
  width: 1654px;
  padding: 100px;


}