@media screen and (min-width: 900px) {
  .App {
   
    /* width: 100vw;
    height: 100vh; */
    background-color: #f2dbed;
    margin: 0;
   
    
    
    height: auto;
    width: 100%;
    
    padding: 0.5%;
  }

  /* .FooterTest{
    position: absolute;
    bottom: 0;
    border: 4px solid green;
  }
   */
}

@media screen and (max-width: 900px) {
  .App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #f2dbed;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


a:link {
  color: rgb(152, 118, 245);
  text-decoration: none;
  font-size: large;


}

a:visited {
  color: rgb(164, 170, 164);
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
  color: rgb(160, 31, 48);
  font-weight: bold;

}

a:active {
  text-decoration: underline;
  color: rgb(160, 31, 48);
  font-weight: bold;

}


.navbar-brand{
  font-weight: bold;
  font-size: large;

}

h1{
  font-weight: bold;
  font-size: large;
}

h2{
  font-weight: bold;
  font-size: large;
}


