@media screen and (min-width: 900px) {
  .App {
   
    /* width: 100vw;
    height: 100vh; */
    background-color: #f2dbed;
    margin: 0;
   
    
    
    height: auto;
    width: 100%;
    
    padding: 0.5%;
  }

  .App::-webkit-scrollbar { width: 0 !important };

  /* .FooterTest{
    position: absolute;
    bottom: 0;
    border: 4px solid green;
  }
   */
}

@media screen and (max-width: 900px) {
  .App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #f2dbed;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


a{
  
  text-decoration: none;



}



.navbar-brand{
  font-weight: bold;
  font-size: large;

}

.navbar{
  font-weight: bold;
  font-size: large;

}

h1{
  font-weight: bold;
  font-size: large;
}

h2{
  font-weight: bold;
  font-size: large;
}



